table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}

th {
  background: #F5F5F5;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: none;
}

td {
  padding: 1rem 0;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}